/* Styling */
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  color: #212121;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

body {
  padding-top: 310px;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
} 

h1 {
  font-size: 40px;
  color: #fff;
  line-height: 48px;
  display: inline;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;
  color: #38554A;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #727272;
  line-height: 16px;
  float: left;
  padding-right: 5px;
  padding-top: 2px;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #727272;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #212121;
  line-height: 21px;
}

a {
  color: #212121;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

.skills-header {
  color: #fff;
}

.lets-connect {
    background-color: #303F9F;
    color: #fff;
}

.contacts-type {
  color: #727272;
}

.contacts-text {
  font-weight: bold;
  color: #212121;
}

.skills-text {
  font-weight: bold;
  color: #fff;
}

/* Colors */
body {
  background-color: #dde4ec;
}

.bg1 {
  background-color: #C5CAE9;
  padding-bottom: 10px;
}

.bg2 {
  background-color: #E9EBF9;
  padding-bottom: 10px;
}

.footer {
  background-color: #C5CAE9;
}

#header {
  background-color: #3F51B5;
}

#topContacts {
  background-color: #C5CAE9;
  opacity: 0.8;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(71,71,71,0.58);
  -moz-box-shadow: 2px 2px 5px 0px rgba(71,71,71,0.58);
  box-shadow: 2px 2px 5px 0px rgba(71,71,71,0.58);
}

#role {
  color: #fff;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

#header, #workExperience, #projects, #education, #mapDiv, #lets-connect {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(33,33,33,0.58);
  -moz-box-shadow: 0px 2px 4px 0px rgba(33,33,33,0.58);
  box-shadow: 0px 2px 4px 0px rgba(33,33,33,0.58);
  margin-bottom: 15px;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

.connect-header {
  background-color: #303F9F;
  color: #fff;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
body {
  background-color: @brand;
}